<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./js/vue.js"></script>
</head>

<body>
    <!-- 
        watch：
           1.定义：监听的属性必须要在data中存在或定义吧。
           2.原理：底层借助了Object.defineproperty方法提供的getter和setter。
           3.特点：
              ⑴ 当被监视的属性变化时，回调函数自动调用，进行相关操作。
              ⑵ 监视的属性必须存在，才能进行监视。
              ⑶ watch是异步的。
              ⑷ 可以配置两个属性 immediate(一进页面就立即监听)，deep(深度监听)属性
           4.深度监听：
              ⑴ Vue中的watch默认不监测对象内部值的改变(一层)。
              ⑵ 配置deep:true 可以监测对象内部值的改变(多层)。
              ⑶ 一进页面就可以立即监听immediate:true
              ⑷ 没有缓存，且是异步的
            备注：
              ⑴ Vue自身可以监测对象内部值的改变，但Vue提供的watch默认不可以！
              ⑵ 使用watch时根据数据的具体结构，决定是否采用深度监视。
     -->
    <div id="root">
        <div>姓：<input v-model:value="firstName" type="text"></div>
        <div>名：<input v-model="lastName" type="text"></div>
        <div>全名：<input v-model="fullName" type="text"></div>
        <div>{{fullName}}</div>
    </div>
</body>
<script>
    // new Vue({
    //     el: '#root',
    //     data: {
    //         firstName: '张',
    //         lastName: '三',
    //         fullName: ''
    //     },
    //     watch: {
    //         firstName: {
    //             handler(newVal, oldVal) {
    //                 this.fullName = newVal + '-' + this.lastName
    //             }
    //         },
    //         lastName: {
    //             handler(newVal, oldVal) {
    //                 this.fullName = this.firstName + '-' + newVal
    //             }
    //         },
    //         fullName: {
    //             // 一进页面就立即监听
    //             immediate: true,
    //             handler(newVal, oldVal) {
    //                 if (!newVal && !oldVal) {
    //                     this.fullName = this.firstName + '-' + this.lastName
    //                 }
    //                 else {
    //                     let result = newVal.split('-')
    //                     this.firstName = result[0]
    //                     this.lastName = result[1]
    //                     this.fullName = this.firstName + '-' + this.lastName
    //                 }

    //             }
    //         }
    //     }
    // })




    // new Vue({
    //     el: '#root',
    //     data: {
    //         firstName: '粉',
    //         lastName: '色',
    //         fullName: ''
    //     },
    //     watch: {
    //         firstName: {
    //             handler(newVal, oldVal) {
    //                 this.fullName = newVal + '-' + this.lastName
    //             }
    //         },
    //         lastName: {
    //             handler(newVal, oldVal) {
    //                 this.fullName = this.firstName + '-' + newVal
    //             }
    //         },
    //         fullName: {
    //             // 一进页面立即监听
    //             immediate: true,
    //             handler(newVal, oldVal) {
    //                 if (!newVal && !oldVal) {
    //                     this.fullName = this.firstName + '-' + this.lastName
    //                 }
    //                 else {
    //                     let result = newVal.split('-')
    //                     this.firstName = result[0]
    //                     this.lastName = result[1]
    //                     this.fullName = this.firstName + '-' + this.lastName
    //                 }

    //             }
    //         }
    //     }
    // })




    new Vue({
        el: '#root',
        data: {
            firstName: '小',
            lastName: '白',
            fullName: ''
        },
        watch: {
            firstName: {
                handler(newVal, oldVal) {
                    this.fullName = newVal + '-' + this.lastName
                }
            },
            lastName: {
                handler(newVal, oldVal) {
                    this.fullName = this.firstName + '-' + newVal
                }
            },
            fullName: {
                immediate: true,
                handler(newVal, oldVal) {
                    if (!newVal && !oldVal) {
                        this.fullName = this.firstName + '-' + this.lastName
                    }
                    else {
                        let result = newVal.split('-')
                        this.firstName = result[0]
                        this.lastName = result[1]
                        this.fullName = this.firstName + '-' + this.lastName
                    }

                }
            }
        }
    })
</script>

</html>